absl-py==0.12.0
acora==2.2
adal==1.2.2
adblockparser==0.7
AdvancedHTTPServer==2.2.0
aiocmd==0.1.2
aioconsole==0.3.1
aiodns==2.0.0
aiofiles==0.7.0
aiohttp==3.7.4
aiomultiprocess==0.8.0
aioredis==1.3.1
aiosqlite==0.16.1
aiowinreg==0.0.3
ajpy==0.0.4
alembic==1.4.3.dev0
altair==4.1.0
aniso8601==9.0.1
antlr4-python3-runtime==4.9.1
anyio==2.2.0
apispec==3.3.1
apispec-webframeworks==0.5.2
appdirs==1.4.4
applicationinsights==0.11.10
appnope==0.1.0
APScheduler==0.0.0
argcomplete==1.12.3
argon2-cffi==20.1.0
arrow==0.17.0
artifacts==20201106
asciitree==0.3.3
asgiref==3.4.1
asn1crypto==1.4.0
astor==0.8.1
astroid==2.5
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asysocks==0.0.2
attrs==19.1.0
autobahn==17.10.1
Automat==20.2.0
avro-python3==1.10.2
azure-ai-anomalydetector==3.0.0b2
azure-ai-formrecognizer==3.1.0b2
azure-ai-metricsadvisor==1.0.0b3
azure-ai-textanalytics==5.1.0b4
azure-appconfiguration==1.1.2
azure-applicationinsights==0.1.0
azure-batch==10.0.0
azure-cli==2.18.0
azure-cli-core==2.18.0
azure-cli-telemetry==1.0.6
azure-cognitiveservices-anomalydetector==0.3.0
azure-cognitiveservices-formrecognizer==0.1.1
azure-cognitiveservices-knowledge-qnamaker==0.3.0
azure-cognitiveservices-language-luis==0.7.0
azure-cognitiveservices-language-spellcheck==2.0.0
azure-cognitiveservices-language-textanalytics==0.2.0
azure-cognitiveservices-personalizer==0.1.0
azure-cognitiveservices-search-autosuggest==0.2.0
azure-cognitiveservices-search-customimagesearch==0.2.0
azure-cognitiveservices-search-customsearch==0.3.0
azure-cognitiveservices-search-entitysearch==2.0.0
azure-cognitiveservices-search-imagesearch==2.0.0
azure-cognitiveservices-search-newssearch==2.0.0
azure-cognitiveservices-search-videosearch==2.0.0
azure-cognitiveservices-search-visualsearch==0.2.0
azure-cognitiveservices-search-websearch==2.0.0
azure-cognitiveservices-vision-computervision==0.7.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-cognitiveservices-vision-face==0.4.1
azure-common==1.1.27
azure-communication-administration==1.0.0b4
azure-communication-chat==1.0.0b4
azure-communication-sms==1.0.0b5
azure-core==1.9.1
azure-cosmos==3.1.1
azure-data-tables==12.0.0b4
azure-datalake-store==0.0.52
azure-devops==0.19.0
azure-digitaltwins-core==1.1.0
azure-eventgrid==2.0.0b5
azure-eventhub==5.2.1
azure-eventhub-checkpointstoreblob==1.1.2
azure-eventhub-checkpointstoreblob-aio==1.1.2
azure-functions-devops-build==0.0.22
azure-graphrbac==0.61.1
azure-identity==1.5.1
azure-keyvault==4.1.0
azure-keyvault-administration==4.0.0b3
azure-keyvault-certificates==4.2.2
azure-keyvault-keys==4.3.2
azure-keyvault-secrets==4.2.1
azure-loganalytics==0.1.0
azure-mgmt-advisor==9.0.0b1
azure-mgmt-alertsmanagement==1.0.0b1
azure-mgmt-apimanagement==1.0.0b1
azure-mgmt-appconfiguration==1.0.1
azure-mgmt-applicationinsights==0.3.1
azure-mgmt-appplatform==6.0.0b1
azure-mgmt-attestation==0.2.0
azure-mgmt-authorization==1.0.0
azure-mgmt-automanage==1.0.0b1
azure-mgmt-automation==1.0.0b1
azure-mgmt-azurestack==0.1.0
azure-mgmt-baremetalinfrastructure==1.0.0b1
azure-mgmt-batch==14.0.0b1
azure-mgmt-billing==6.0.0b1
azure-mgmt-botservice==0.2.0
azure-mgmt-cdn==10.0.0b1
azure-mgmt-cognitiveservices==11.0.0b1
azure-mgmt-commerce==6.0.0b1
azure-mgmt-communication==1.0.0b5
azure-mgmt-compute==18.0.0
azure-mgmt-confluent==1.0.0b1
azure-mgmt-consumption==8.0.0b1
azure-mgmt-containerinstance==7.0.0
azure-mgmt-containerregistry==8.0.0b1
azure-mgmt-containerservice==14.0.0
azure-mgmt-core==1.2.3
azure-mgmt-cosmosdb==6.0.0
azure-mgmt-costmanagement==0.2.0
azure-mgmt-customproviders==1.0.0b1
azure-mgmt-databox==1.0.0b1
azure-mgmt-databoxedge==1.0.0b1
azure-mgmt-databricks==1.0.0b1
azure-mgmt-datadog==1.0.0b2
azure-mgmt-datafactory==1.0.0b1
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-store==1.0.0b1
azure-mgmt-datamigration==4.0.0
azure-mgmt-datashare==1.0.0b1
azure-mgmt-deploymentmanager==1.0.0b1
azure-mgmt-devspaces==0.2.0
azure-mgmt-devtestlabs==9.0.0b1
azure-mgmt-digitaltwins==0.1.0
azure-mgmt-dns==3.0.0
azure-mgmt-documentdb==0.1.3
azure-mgmt-edgegateway==0.1.0
azure-mgmt-eventgrid==8.0.0b1
azure-mgmt-eventhub==8.0.0
azure-mgmt-frontdoor==0.3.0
azure-mgmt-hanaonazure==1.0.0b1
azure-mgmt-hdinsight==7.0.0b1
azure-mgmt-healthcareapis==1.0.0b1
azure-mgmt-hybridcompute==7.0.0b1
azure-mgmt-hybridkubernetes==0.1.0
azure-mgmt-imagebuilder==0.4.0
azure-mgmt-iotcentral==3.0.0
azure-mgmt-iothub==1.0.0b1
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==8.0.0
azure-mgmt-kubernetesconfiguration==0.2.0
azure-mgmt-kusto==1.0.0b1
azure-mgmt-labservices==1.0.0b1
azure-mgmt-loganalytics==7.0.0b1
azure-mgmt-logic==9.0.0b1
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-machinelearningservices==1.0.0b1
azure-mgmt-maintenance==1.0.0b1
azure-mgmt-managedservices==6.0.0b1
azure-mgmt-managementgroups==0.2.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==1.0.0b1
azure-mgmt-marketplaceordering==1.0.0b1
azure-mgmt-media==2.2.0
azure-mgmt-mixedreality==0.1.0
azure-mgmt-monitor==1.0.1
azure-mgmt-msi==1.0.0
azure-mgmt-netapp==1.0.0b1
azure-mgmt-network==17.0.0
azure-mgmt-notificationhubs==7.0.0b1
azure-mgmt-operationsmanagement==1.0.0b1
azure-mgmt-peering==1.0.0b1
azure-mgmt-policyinsights==1.0.0b1
azure-mgmt-powerbidedicated==1.0.0b1
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-privatedns==0.1.0
azure-mgmt-rdbms==8.0.0b1
azure-mgmt-recoveryservices==1.0.0b1
azure-mgmt-recoveryservicesbackup==0.7.0
azure-mgmt-redhatopenshift==0.1.0
azure-mgmt-redis==12.0.0
azure-mgmt-regionmove==1.0.0b1
azure-mgmt-relay==1.0.0b1
azure-mgmt-reservations==0.7.0
azure-mgmt-resource==16.0.0
azure-mgmt-resourcegraph==7.0.0b1
azure-mgmt-resourcemover==1.0.1b1
azure-mgmt-scheduler==7.0.0b1
azure-mgmt-search==8.0.0b1
azure-mgmt-security==1.0.0b1
azure-mgmt-securityinsight==1.0.0b1
azure-mgmt-serialconsole==0.1.0
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==6.0.0
azure-mgmt-servicefabric==0.4.0
azure-mgmt-signalr==1.0.0b1
azure-mgmt-sql==1.0.0
azure-mgmt-sqlvirtualmachine==0.5.0
azure-mgmt-storage==16.0.0
azure-mgmt-storagecache==0.3.0
azure-mgmt-storageimportexport==0.1.0
azure-mgmt-storagesync==0.2.0
azure-mgmt-streamanalytics==1.0.0rc1
azure-mgmt-subscription==1.0.0b1
azure-mgmt-support==6.0.0b1
azure-mgmt-synapse==0.2.0
azure-mgmt-timeseriesinsights==0.2.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-vmwarecloudsimple==0.2.0
azure-mgmt-web==1.0.0
azure-mgmt-workloadmonitor==1.0.0b2
azure-multiapi-storage==0.6.2
azure-schemaregistry==1.0.0b2
azure-schemaregistry-avroserializer==1.0.0b2
azure-search-documents==11.1.0b5
azure-servicebus==7.0.1
azure-servicefabric==7.2.0.46
azure-servicemanagement-legacy==0.20.7
azure-synapse==0.1.0
azure-synapse-accesscontrol==0.4.0
azure-synapse-artifacts==0.4.0
azure-synapse-managedprivateendpoints==0.1.0
azure-synapse-monitoring==0.1.0
azure-synapse-spark==0.4.0
azure-template==0.0.18b3
Babel==2.8.0
backcall==0.1.0
base58==2.1.0
basemap==1.2.1
bcrypt==3.1.7
beanie==1.2.6
beautifulsoup4==4.9.3
bibtexparser==1.2.0
binwalk==2.3.2
bleach==3.1.0
blinker==1.4
blis==0.7.4
boltons==19.1.0
bottle==0.12.19
Bottleneck==1.2.1
branca==0.4.2
Brlapi==0.8.2
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.1
cairocffi==1.2.0
capstone==4.0.2
catalogue==2.0.1
catfish==4.16.0
cbor==1.0.0
certifi==2020.6.20
cffi==1.13.1
chardet==4.0.0
chart-studio==1.1.0
CherryPy==8.9.1
cleantext==1.1.3
Click==7.0
click-plugins==1.1.1
cloudpickle==1.6.0
colorama==0.4.4
colorlover==0.3.0
commonmark==0.9.1
configobj==5.0.6
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
crackmapexec==5.1.7.dev0
crossref-commons==0.0.7
cryptography==3.3.2
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
dask==2021.4.1
dbus-python==1.2.18
debtags==2.1
decorator==4.4.0
defusedxml==0.6.0
deprecation==2.0.7
dicttoxml==1.7.4
distro==1.6.0
distro-info==1.0
Django==2.2.24
django-allauth==0.45.0
django-elasticsearch-dsl==7.2.0
django-rest-action-serializer==1.1.0
django-rest-swagger==2.2.0
djangorestframework==3.12.4
dnslib==0.9.14
dnspython==1.15.0
docopt==0.6.2
docx==0.2.4
ecdsa==0.16.1
elasticsearch==7.12.1
elasticsearch-dsl==7.3.0
email-validator==1.1.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.0.1
ExifRead==2.3.2
expiringdict==1.1.4
fabric==2.5.0
faiss-cpu==1.7.1.post2
Faker==0.8.13
faraday-client==1.1.0
faraday-plugins==1.5.2
faradaysec==3.14.4
fastapi==0.68.0
fastapi-login==1.6.3
feedfinder2==0.0.4
feedparser==5.2.1
fierce==1.4.0
filedepot==0.5.2
filelock==3.0.12
filteralchemy==0.1.0
flake8==3.7.8
flasgger==0.9.5
Flask==0.12.4
Flask-BabelEx==0.9.4
Flask-Bcrypt==0.7.1
Flask-Classful==0.14.1
Flask-Cors==3.0.3
Flask-JWT-Extended==3.7.0
Flask-KVSession-fork==0.6.3
Flask-Limiter==1.0.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-Security-Too==4.0.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flatbuffers==1.12
folium==0.12.1
fsspec==2021.4.0
future==0.18.2
Fuzzy==1.2.2
gast==0.4.0
GDAL==3.2.2
gensim==3.8.1
geoip2==2.9.0
geojson==2.5.0
gitdb==4.0.7
GitPython==3.1.23
google-api-core==1.26.3
google-api-python-client==2.1.0
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpg===1.16.0-unknown
graphene==2.1.7
graphene-sqlalchemy==2.1.2
graphql-core==2.2.1
graphql-relay==2.0.0
greenlet==1.1.1
grpcio==1.34.1
gyp==0.1
h11==0.12.0
h2==3.2.0
h5py==3.1.0
habanero==0.7.4
hashID==3.1.4
hiredis==1.0.1
hpack==3.0.0
html2text==2020.1.16
html5lib==1.1
HTMLParser==0.0.2
httplib2==0.19.1
huggingface-hub==0.0.12
humanfriendly==9.1
humanize==0.0.0
hupper==1.10.3
hyperframe==5.2.0
hyperlink==19.0.0
icalendar==4.0.3
idna==2.10
impacket==0.9.22
importlib-metadata==0.23
incremental==17.5.0
iniconfig==0.0.0
insta-scrape==2.1.2
instaclient==2.9.19
instagramy==4.4
intervaltree==3.0.2
invoke==1.4.1
ipwhois==0.15.1
IPy==1.1
ipykernel==5.1.3
ipynb-py-convert==0.4.6
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==5.8.0
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==1.1.0
itypes==1.2.0
javaproperties==0.7.0
jdcal==1.0
jedi==0.15.1
jeepney==0.6.0
jieba3k==0.35.1
Jinja2==2.10.3
jmespath==0.10.0
joblib==1.0.1
jsmin==2.2.2
json5==0.9.5
jsondiff==1.1.1
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-packaging==0.9.2
jupyter-server==1.6.4
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.0
jupyterlab-widgets==1.0.0
kaitaistruct==0.9
kazam==1.4.5
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keybert==0.4.0
keyring==23.2.0
KismetCaptureFreaklabsZigbee==2018.7.0
KismetCaptureRtl433==2020.10.1
KismetCaptureRtladsb==2020.10.1
KismetCaptureRtlamr==2020.10.1
kiwisolver==1.3.1
knack==0.8.2
lazy-object-proxy==1.6.0
ldap3==2.8.1
ldapdomaindump==0.9.3
lightdm-gtk-greeter-settings==1.2.2
limits==1.5.1
linkedin-scraper==2.7.5
locket==0.2.1
louis==3.19.0
lsassy==2.1.2
lxml==4.6.3
lz4==3.1.3+dfsg
Mako==1.1.3
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.0
matplotlib==3.3.4
maxminddb==2.0.3
mccabe==0.6.1
mechanize==0.4.5
microsoft-opentelemetry-exporter-azuremonitor==1.0.0b1
minidump==0.0.12
minikerberos==0.2.0
mistune==0.8.4
mitmproxy==6.0.2
more-itertools==7.2.0
motor==2.5.0
MouseInfo==0.1.3
msal==1.14.0
msal-extensions==0.3.0
msgpack==1.0.2
msldap==0.2.10
msrest==0.6.21
msrestazure==0.6.2
multidict==5.1.0
murmurhash==1.0.5
mysqlclient==1.4.4
nassl==4.0.0
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==5.6.0
nbformat==4.4.0
ndg-httpsclient==0.5.1
neo4j==1.7.0.dev0
neobolt==1.7.17
neotime==1.7.4
nest-asyncio==1.5.1
netaddr==0.8.0
networkx==2.5
newspaper3k==0.2.8
nltk==3.6.2
notebook==6.0.1
np-utils==0.5.12.1
nplusone==1.0.0
ntlm-auth==1.4.0
numexpr==2.7.3
numpy==1.21.2
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.46
openapi-codec==1.3.2
openpyxl==3.0.3
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.2
pandocfilters==1.4.2
paramiko==2.7.2
parsedatetime==2.6
parsel==1.6.0
parso==0.5.1
partd==1.2.0
passlib==1.7.4
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==2.0.2
patator==0.9
pathy==0.4.0
pcapy==0.11.4
pefile==2021.9.3
pexpect==4.7.0
pgspecial==1.11.10
phonenumbers==8.12.1
pickle5==0.0.11
pickleshare==0.7.5
Pillow==8.1.2
pipreqs==0.4.10
pkginfo==1.4.2
plaster==1.0
plaster-pastedeploy==0.5
plotly==4.14.3
pluggy==0.6.0
pluginbase==1.0.1
ply==3.11
portalocker==2.2.1
preshed==3.0.5
prettytable==0.7.2
priority==1.3.0
prometheus-client==0.7.1
promise==2.2
prompt-toolkit==2.0.10
Protego==0.1.16
protobuf==3.12.4
psutil==5.8.0
psycopg2==2.8.6
ptyprocess==0.6.0
publicsuffix2==2.20191221
py==1.8.0
py-ubjson==0.16.1
pyaff4==0.26.post6
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAutoGUI==0.9.52
pycairo==1.16.2
pycares==3.1.1
pyChainedProxy==1.2
pycodestyle==2.5.0
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.9.7
pycurl==7.44.1
pydantic==1.8.2
pydeck==0.6.2
PyDispatcher==2.0.5
pydot==1.4.2
pydotplus==2.0.2
pyee==7.0.2
pyelftools==0.27
pyExploitDb==0.2.0
pyfiglet==0.8.post0
pyflakes==2.1.1
PyGetWindow==0.0.9
Pygments==2.4.2
PyGObject==3.38.0
pygraphviz==1.7
PyHamcrest==1.9.0
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.7.1
pylnk3==0.2.1
pymongo==3.7.2
PyMsgBox==1.0.9
pymssql==2.1.4
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyotp==2.3.0
PyPaperBot==1.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
pypng==0.0.20
pyppeteer==0.2.5
pyproj==3.2.1
pypsrp==0.5.0
pypykatz==0.3.7
PyQRCode==1.2.1
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyqtgraph==0.12.2
pyramid==1.10.4
PyRect==0.1.4
pyrsistent==0.15.4
PyScreeze==0.1.26
pyserial==3.5b0
pyShodan==0.2.3
pyshp==2.1.3
pysmi==0.3.2
pysnmp==4.4.12
PySocks==1.7.1
pyspnego==0.1.5
pytest==3.3.0
pytest-flask==0.11.0
python-apt==2.2.1
python-dateutil==2.8.0
python-debian==0.1.39
python-docx==0.8.10
python-dotenv==0.19.0
python-editor==1.0.3
python-jose==3.3.0
python-Levenshtein==0.12.2
python-magic==0.4.24
python-multipart==0.0.5
python-pam==1.8.4
python-pptx==0.6.18
python-snappy==0.5.3
python3-openid==3.2.0
python3-xlib==0.15
PyTrie==0.2
pytsk3==20200117
PyTweening==1.0.3
pytz==2021.1
pywerview==0.2.0
pyxdg==0.27
PyYAML==5.3.1
pyzmq==18.1.1
qrcode==6.1
qtconsole==4.5.5
QtPy==1.9.0
Quamash==0.6.1
queuelib==1.6.2
ratelimit==2.2.1
rdflib==5.0.0
redis==3.5.3
regex==2021.3.17
rekall-core==1.7.2rc1
rekall-lib==1.7.1
repoze.lru==0.7
requests==2.25.1
requests-file==1.5.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rich==10.7.0
Routes==2.5.1
rq==1.10.0
rsa==4.7.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
rule-engine==1.1.0
Rx==3.1.1
sacremoses==0.0.45
scapy==2.4.4
scikit-learn==0.24.2
scipy==1.7.1
scp==0.13.0
Scrapy==2.5.0
seaborn==0.11.1
SecretStorage==3.3.1
secure==0.2.1
selenium==4.0.0a1
Send2Trash==1.5.0
sentence-transformers==2.0.0
sentencepiece==0.1.96
service-identity==18.1.0
setproctitle==1.2.2
shodan==1.25.0
simplejson==3.17.2
simplekv==0.13.0
six==1.12.0
sklearn==0.0
smart-open==3.0.0
smmap==4.0.0
smoke-zephyr==2.0.1
sniffio==1.2.0
sortedcontainers==2.1.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.2
SPARQLWrapper==1.8.5
speaklater==1.4
SQLAlchemy==1.4.23
sqlalchemy-schemadisplay==1.3
sqlparse==0.4.2
srsly==2.4.0
sshtunnel==0.1.4
sslyze==4.1.0
starlette==0.14.2
stem==1.8.0
streamlit==0.80.0
syslog-rfc5424-formatter==1.2.2
tables==3.6.1
tabulate==0.8.7
Tempita==0.5.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.5.0rc0
termcolor==1.1.0
terminado==0.8.2
terminaltables==3.1.0
testpath==0.4.2
text-unidecode==1.2
textblob==0.15.3
texttable==1.6.3
theHarvester==3.2.4
thinc==8.0.2
threadpoolctl==2.1.0
tinysegmenter==0.3
tld==0.11.11
tldextract==3.1.0
tls-parser==1.2.2
tokenizers==0.10.3
toml==0.10.2
tomlkit==0.7.0
toolz==0.11.1
torbrowser-launcher==0.3.5
torch==1.9.0
torchvision==0.10.0
tornado==6.0.3
tqdm==4.62.2
traitlets==4.3.3
transformers==4.9.2
translationstring==1.4
tweepy==3.10.0
Twisted==20.3.0
txaio==20.4.1
txtai==3.2.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
u-msgpack-python==2.3.0
uamqp==1.4.2
unattended-upgrades==0.1
unicodecsv==0.14.1
Unidecode==1.3.2
uritemplate==3.0.1
urllib3==1.26.6
urwid==2.1.2
utils==1.0.1
uvicorn==0.15.0
uvloop==0.16.0
validators==0.18.2
vboxapi==1.0
venusian==3.0.0
vsts-cd-manager==1.0.2
w3lib==1.22.0
wafw00f==2.1.0
wapiti3==3.0.4
wasabi==0.8.2
watchdog==2.0.3
wcwidth==0.1.7
webargs==7.0.1
webencodings==0.5.1
WebOb==1.8.6
websocket-client==0.57.0
websockets==9.1
Werkzeug==0.16.0
wfuzz==3.1.0
whois==0.8
widgetsnbextension==3.5.1
wifite==2.5.8
wikipedia==1.4.0
Wikipedia-API==0.5.4
winacl==0.0.2
wordcloud==1.8.1
wrapt==1.12.1
wsaccel==0.6.3
wsproto==1.0.0
WTForms==2.2.1
xcffib==0.8.1
xdg==5
xlrd==1.2.0
XlsxWriter==3.0.1
xlwt==1.3.0
xmltodict==0.12.0
yara-python==4.0.4
yarg==0.1.9
yarl==1.6.3
yaswfp==0.9.3
zipp==0.6.0
zope.deprecation==4.4.0
zope.interface==5.2.0
